<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=" stylesheet" href="./css/styles.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>I love Dark Souls 1. I looked for a Dark Souls API online I couldn't find one so I decided to make my own
            API. Feel free to use it.
        </p>
        <p>This API includes Dark Souls 1 and Artorias of the Abyss DLC</p>
        <p>Dark Souls 1 Rings and Shields API may come soon.</p>
        <img src="./img/solaire.png"></img>
    </div>
    {{>footer}}
</body>

</html>