<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=" stylesheet" href="./css/styles.css">
    <title>Docs</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>Value Types</h3>
        <table>
            <tr class="tr">
                <td>
                    <p>category:</p>
                </td>
                <td class="second-td">
                    <p>String</p>
                </td>
            </tr>
            <tr class="tr">
                <td>
                    <p>name:</p>
                </td>
                <td class="second-td">
                    <p>String</p>
                </td>
            </tr>
            <tr class="tr">
                <td>
                    <p>dmg:</p>
                </td>
                <td class="second-td">
                    <p>Number</p>
                </td>
            </tr>
            <tr class="tr">
                <td>
                    <p>weight:</p>
                </td>
                <td class="second-td">
                    <p>Number</p>
                </td>
            </tr>
            <tr class="tr">
                <td>
                    <p>durability:</p>
                </td>
                <td class="second-td">
                    <p>Number</p>
                </td>
            </tr>
            <tr class="tr">
                <td>
                    <p>range:</p>
                </td>
                <td class="second-td">
                    <p>Number</p>
                </td>
            </tr>
            <tr class="tr">
                <td>
                    <p>attack_type:</p>
                </td>
                <td class="second-td">
                    <p>String</p>
                </td>
            </tr>
            <tr class="tr">
                <td>
                    <p>enchantable:</p>
                </td>
                <td class="second-td">
                    <p>Boolean</p>
                </td>
            </tr>
            <tr class="tr">
                <td>
                    <p>requirements:</p>
                </td>
                <td class="second-td">
                    <p>Number</p>
                </td>
            </tr>
        </table>
    </div>
    {{>footer}}
</body>

</html>